.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title{
    position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-section{
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: #d8d8d8;
    font-size: 20px;
    line-height: 35px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}
.contact-right label{
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background-color: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea{
    width: 650px;
    border: none;
    border-radius: 4px;
    padding: 25px;
    background-color: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-submit{
    border:none;
    color: white;
    border-radius:50px ;
    font-size: 22px;
    padding: 20px 60px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.6%);
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
    border: 2px solid #d8d8d8;
}

@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 500;
    }

    .contact-section{
        flex-direction: column;
    }

    .contact-left h1{
        font-size: 54px;
    }

    .contact-left p{
        font-size: 18px;
    }

    .contact-detail {
        gap:20px
    }

    .contact-detail img{
        width: 20px;
    }

    .contact-right label{
        font-size: 20px;
    }

    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }

    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}

